.mainContainer {
    margin: 40px;
}

.cardInfo {
    margin-left: auto;
    margin-right: auto;
}

.accordion {
    padding-top: 10px;
    margin-top: 15px;
}

.experiences {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.expHeading, .qualifications {
    text-align: center;
    padding-bottom: 20px;
}

.thirdCol {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

a {
    color: white;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: white;
}

a:active {
    text-decoration: none;
}